<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="./assets/images/logo-main.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Ulldecona
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="second-page.html">Participants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="third-page.html">Contacte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="fourth-page.html">Concurs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>